.form-container {
  width: 750px;
  padding: 60px 60px 70px 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.form-container.translate {
  transform: translateX(clamp(-2.9169rem, 1.477rem + -2.7462vi, -0.9019rem));
}
.form-container .row {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-container label {
  padding-bottom: 16px;
}
.input-container__input,
.input-container__textarea {
  border: 1px solid transparent;
  transition: border 0.25s ease;
  outline: none;
  padding: 14px 16px;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
input.input-container__input:hover,
textarea.input-container__textarea:hover {
  border: 1px solid var(--primitive-color-endex-300);
}
input.input-container__input:focus,
textarea.input-container__textarea:focus {
  border: 1px solid var(--primitive-color-endex-400);
}
.input-container__textarea {
  resize: none;
  overflow: hidden;
  overflow-y: visible;

  padding-top: 17px;
  min-height: 49px;
  height: 49px;
  max-height: 146px;
}
.input-container__input::placeholder,
.input-container__textarea::placeholder {
  color: var(--primitive-color-endex-500);
}
