.form-container {
  width: clamp(33.8381rem, 0.0005rem + 39.0622vw, 62.5rem);
  padding: clamp(2.0625rem, -1.4055rem + 4.0034vw, 5rem)
    clamp(2.0625rem, -1.4055rem + 4.0034vw, 5rem)
    clamp(3.25rem, 0.0772rem + 3.6627vw, 5.9375rem)
    clamp(2.0625rem, -1.4055rem + 4.0034vw, 5rem);
  display: flex;
  flex-direction: column;
  gap: clamp(1.5625rem, -0.0608rem + 1.8739vw, 2.9375rem);
}
.form-container .row {
  display: flex;
  flex-direction: row;
  gap: clamp(1.0813rem, -0.0034rem + 1.2521vw, 2rem);
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.input-container label {
  cursor: pointer;
  padding-bottom: clamp(0.5rem, -0.0165rem + 0.5963vw, 0.9375rem);
}
.input-container input,
.input-container textarea {
  border-radius: 0px;
}
.input-container__input,
.input-container__textarea {
  border: 1px solid transparent;
  transition: border 0.25s ease;
  outline: none;
  padding: clamp(0.625rem, -0.0243rem + 0.7496vw, 1.175rem)
    clamp(0.75rem, 0.1007rem + 0.7496vw, 1.3rem);
  width: 100%;
}
input.input-container__input:focus-visible,
textarea.input-container__textarea:focus-visible {
  border: 1px solid var(--primitive-color-endex-300);
}
@media (hover: hover) {
  input.input-container__input:hover,
  textarea.input-container__textarea:hover {
    border: 1px solid var(--primitive-color-endex-300);
  }
}
input.input-container__input:focus,
textarea.input-container__textarea:focus {
  border: 1px solid var(--primitive-color-endex-400);
}
.input-container__textarea {
  overflow: hidden;
  overflow-y: visible;
  resize: vertical;
  min-height: clamp(2.5125rem, 0.0783rem + 2.8101vw, 4.5744rem);
  max-height: clamp(14rem, 2.2rem + 12vw, 24rem);
}
.input-container__textarea-resizer {
  pointer-events: none;
  position: absolute;
  right: clamp(0.1875rem, 0.0252rem + 0.1874vw, 0.325rem);
  bottom: clamp(0.1875rem, 0.0252rem + 0.1874vw, 0.325rem);
  width: clamp(0.9025rem, 0.0001rem + 1.0417vw, 1.6669rem);
  height: clamp(0.9025rem, 0.0001rem + 1.0417vw, 1.6669rem);
  z-index: 1;
}
.input-container__textarea-resizer-bg {
  pointer-events: none;
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: clamp(1.0625rem, -0.2657rem + 1.5332vw, 2.1875rem);
  height: clamp(1.0625rem, -0.2657rem + 1.5332vw, 2.1875rem);
  z-index: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    var(--token-color-surface-tertiary) 65%
  );
}
.input-container__textarea-resizer img {
  filter: invert(68%) sepia(6%) saturate(169%) hue-rotate(169deg)
    brightness(91%) contrast(91%);
}
.input-container__input::placeholder,
.input-container__textarea::placeholder {
  color: var(--primitive-color-endex-500);
}

@media all and (max-width: 620px) {
  .form-container {
    width: 100%;
    padding: 40px 15px 50px 15px;
    gap: 24px;
  }
  .input-container label {
    padding-bottom: 12px;
  }
  .input-container__input {
    height: 50px;
  }
  .input-container__input,
  .input-container__textarea {
    padding: 14px 16px;
    min-height: 50px;
  }
}
@media (hover: none) {
  .input-container__textarea-resizer {
    display: none;
  }
  .input-container__textarea-resizer-bg {
    display: none;
  }
}
