.careers-container {
  display: block;
}
.careers-heading {
  margin-top: clamp(3.5rem, 7.6vh, 6.5rem);
  text-wrap: pretty;
  line-height: 103%;
}
.careers-description {
  margin-top: clamp(2.3125rem, 0.0989rem + 2.5554vw, 4.1875rem);
  width: 100%;
  max-width: clamp(21.9375rem, 0.023rem + 25.2981vw, 40.5rem);
}
.careers-table {
  margin-top: clamp(4.4375rem, -0.3586rem + 5.5366vw, 8.5rem);
  width: 100%;
  max-width: clamp(39.375rem, -0.0268rem + 45.4855vw, 72.75rem);
  display: flex;
  flex-direction: column;
  gap: clamp(0.7rem, -0.0104rem + 1.0221vw, 1.25rem);
  margin-bottom: 100px;
}
.careers-table p {
  width: fit-content;
}
.careers-table > div {
  width: 100%;
  display: table;
  position: relative;
}
.table-row {
  position: relative;
  cursor: pointer;
  display: table-row;
}
.table-row:hover {
  text-decoration: underline;
}
.table-border {
  width: 100%;
  height: 1px;
  position: absolute;
  left: 1px;
  bottom: 0;
}
.table-row .table-cell {
  display: table-cell;
  padding-top: clamp(0.75rem, -0.0985rem + 0.9796vw, 1.4688rem);
  padding-bottom: clamp(0.6875rem, -0.1241rem + 0.937vw, 1.375rem);
  position: relative;
}
.table-row .table-cell p {
  padding-right: 15px;
}
.table-cell .table-arrow {
  position: absolute;
  right: 0;
  top: clamp(0.8875rem, -0.057rem + 1.0903vw, 1.6875rem);
  height: clamp(0.6319rem, 0.0003rem + 0.7291vw, 1.1669rem);
  width: clamp(0.6319rem, 0.0003rem + 0.7291vw, 1.1669rem);
  filter: var(--token-color-icon-primary);
}
@media all and (max-width: 660px) {
  .careers-heading {
    margin-top: 95px;
  }
  .careers-description {
    margin-top: 25px;
    max-width: 25rem;
  }
}
@media all and (max-width: 520px) {
  .careers-description {
    margin-top: 15px;
  }
  .careers-table {
    margin-top: 50px;
  }
}
@media all and (max-width: 450px) {
  .table-cell {
    height: 60px;
  }
}
@media all and (max-width: 422px) {
  .careers-description {
    font-size: 16px;
    max-width: 370px;
  }
}
@media all and (max-width: 379px) {
  .careers-description {
    max-width: 290px;
  }
}
