.article-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-divider {
  width: 100%;
  height: 1px;
  margin-bottom: clamp(3rem, -0.0252rem + 3.4923vw, 5.5625rem);
}
.emphasis {
  padding-left: clamp(1.2rem, -1.4636rem + 2.5554vw, 2.625rem);
  position: relative;
  text-wrap: balance;
}
p.emphasis {
  margin: calc(clamp(1.2rem, -1.4636rem + 2.5554vw, 2.625rem) / 2) 0;
}
.emphasis::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: calc(
    100% - clamp(1.125rem, -0.0556rem + 1.3629vw, 2.125rem) +
      (clamp(-0.3125rem, 0.0964rem + -0.2555vi, -0.125rem) * -3)
  );
  left: 0;
  top: clamp(-0.3125rem, 0.0964rem + -0.2555vi, -0.125rem);
  background-color: var(--primitive-color-endex-600);
}
