.latest-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: auto;
  row-gap: clamp(6.6875rem, 0.0467rem + 7.666vw, 12.3125rem);
}
.article {
  width: clamp(24rem, 0.0195rem + 27.6831vw, 44.3125rem);
}
.article__img {
  width: 100%;
  height: clamp(15.75rem, -0.0402rem + 18.2283vw, 29.125rem);
  position: relative;
  margin-bottom: clamp(1.625rem, 0.0017rem + 1.8739vw, 3rem);
}
.article__text {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, -0.0903rem + 0.6814vw, 1rem);
}
.article:hover .article__text h4 {
  text-decoration: underline;
}
@media all and (max-width: 1300px) {
  .latest-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 1150px) {
  .latest-grid {
    column-gap: 8vw;
    row-gap: 80px;
  }
  .article {
    width: 100%;
  }
  .article__img {
    height: auto;
    aspect-ratio: 3 / 2;
  }
}
@media all and (max-width: 780px) {
  .latest-grid {
    column-gap: 60px;
  }
}
@media all and (max-width: 660px) {
  .latest-grid {
    column-gap: 38px;
  }
}
@media all and (max-width: 520px) {
  .latest-grid {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}
