.newsletter-container {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: clamp(24.5625rem, -0.0083rem + 28.3646vw, 45.375rem);
  margin-left: -1px;
}
.newsletter-input {
  border: 1px solid var(--primitive-color-endex-100);
  transition: border 0.25s ease;
  outline: none;
  padding: 0 clamp(0.75rem, 0.1007rem + 0.7496vw, 1.3rem);
  height: clamp(2.8125rem, 0.0086rem + 3.2368vw, 5.1875rem);
  padding-top: clamp(0.0625rem, -0.0113rem + 0.0852vw, 0.125rem);
  width: 100%;
  margin-right: -1px;
}
input.newsletter-input:focus-visible {
  border: 1px solid var(--primitive-color-endex-300);
}
@media (hover: hover) {
  input.newsletter-input:hover {
    border: 1px solid var(--primitive-color-endex-300);
  }
}
@media (prefers-color-scheme: light) {
  input.newsletter-input {
    border: 1px solid var(--primitive-color-endex-300);
  }
}
input.newsletter-input:focus {
  border: 1px solid var(--primitive-color-endex-400);
}
@media all and (max-width: 620px) {
  .newsletter-input {
    padding: 14px 16px;
    padding-top: 17px;
    height: 54px;
  }
}
@media all and (max-width: 620px) {
  .newsletter-input {
    padding: 14px 16px;
    padding-top: 17px;
    height: 54px;
  }
}
@media all and (max-width: 520px) {
  .newsletter-container {
    width: 100%;
  }
}
@media all and (max-width: 355px) {
  .newsletter-input {
    height: 50px;
  }
}
